@import "./colors.scss";

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 26px;
}
h1,
h2,
h3 {
  color: var(--primary-color);
}
.card {
  padding: 16px;
  margin: 20px;
  max-width: 480px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  & h2 {
    text-align: center;
  }
  &__container {
    display: flex;
    margin: auto;

    &__inputs {
      width: 200px;
      margin: 18px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    & span {
      font-size: small;
      color: var(--placeholder-color);
    }
    &__input {
      height: 36px;
      padding: 6px 8px;
      border: 1px solid var(--primary-color);
      border-radius: 4px;
    }
    &__output {
      margin: auto;
      text-align: center;
    }
  }
}

.button-primary {
  color: white;
  background-color: var(--primary-color);
  font-weight: 600;
  width: 92px;
  height: 36px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
button:hover {
  background-color: white;
  color: var(--primary-color);
}
button.clicked {
  transform: scale(1.2);
  background-color: var(--placeholder-color);
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  width: 100%;
  color: var(--text-dark-grey);
  padding: 12px 0;
  border-top: 1px solid var(--light-grey);
  &__title {
    color: var(--text-dark-grey);
    font-weight: 600;
  }
  &__link {
    color: var(--text-dark-grey);
    text-decoration: none;
  }
}
